


.header{
    text-align: center;
    font-size: larger;
    background-color: yellow;
    margin-left:50px;
    margin-right:50px;
    padding:70px;
    
}



.textarea{
    width:85%;
    height: 10vh;
    display:block;
    margin:1rem;
    padding: 1rem;
}



#output{
    border:1px solid black;
    height:10vh;
    width:85%;
    margin:1rem;
    padding : 1rem;

}